
services:
  ui-search-app:
    build:
      context: .
      dockerfile: ./Dockerfile-development
    container_name: ui-search-app-container
    env_file:
    - .env.production
    ports:
      - "80:80"
    networks:
      - state-less-network

networks:
  state-less-network:
    external: true
